# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode
.env
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICMOuqsNreCBtffqzgDmAOZ9BGLTCDAUPCJeYSoeN+gJ vorobjeva.natalia76@yandex.ru

